<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuan.demo.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.yuan.demo.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.demo.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.yuan.demo.activity.fragmentActivity.MainActivity"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yuan.demo.activity.one.swipeback.SwipBackActivity" />
        <activity android:name="com.yuan.demo.activity.one.refresh.TestRefresh" />
        <activity android:name="com.yuan.demo.activity.one.statuscontrol.StatueActivity" />
        <activity android:name="com.yuan.demo.activity.one.xtoolbar.ToolbarActivity" />
        <activity android:name="com.yuan.demo.activity.one.net.NetActivity" />
        <activity android:name="com.yuan.demo.activity.one.dialog.MaterialDialogActivity" />
        <activity android:name="com.yuan.demo.activity.one.dialog.RxDialogActivity" />
        <activity android:name="com.yuan.demo.activity.one.shape.ShapeActivity" />
        <activity android:name="com.yuan.demo.activity.one.textView.TextActivity" />
        <activity android:name="com.yuan.demo.activity.one.net.GsonActivity"></activity>
    </application>

</manifest>